# Directories
.git
node_modules
css/src/sass/.sass-cache
.sass-cache
bower_components
debug
/vendor/
_other/

# Files
c3.php
package-lock.json
.svn
*.lock
!composer.lock
*.bak
*.bak2
*.bat
*.yml
*.local

!.github/**
