#Git files
.gitattributes
.git

#Grunt developer
node_modules

#Sass directory
css/src/sass/.sass-cache
.sass-cache

#Bower update
bower_components

#SVN files
.svn

#Composer
composer.lock
vendor/mobiledetect/mobiledetectlib
vendor/composer/installed.json

#File bak
*.bak