/* PointerPlus Based on QueryLoop Pointer */

.pointerplus .pp-pointer-content {
    padding: 0px 0px 10px;
    position: relative;
    font-size: 13px;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.075);
}

.pointerplus .pp-pointer-content h3 {
    position: relative;
    margin: -1px -1px 5px;
    padding: 15px 18px 14px 60px;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #3592B6 #3592B6 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    line-height: 1.4em;
    font-size: 14px;
    color: #FFF;
    background: none repeat scroll 0% 0% #2EA2CC;
}

.pp-pointer-content p {
    padding: 0px 15px;
}

.pp-pointer-content h3:before {
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 50%;
    color: #2EA2CC;
    font: 20px/1.6 "dashicons";
    position: absolute;
    top: 8px;
    left: 15px;
    text-align: center;
    width: 32px;
    height: 32px;
}